@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    background: #bdc3c7;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 16px
}
header a{
    text-decoration: none;
    color: white;
}

#edit-container{
    text-align: center;
}

#recipeTitle, #recipeSteps{
    display: block;
    margin: 20px auto;
    border-radius:5px;
    height: 35px;
    width: 600px;
    border: none;
    background: #ecf0f1;
    padding: 5px;
}
#recipeTitle:focus, #recipeSteps:focus {
    outline: none;
}

#recipeSteps{
    height: 400px;
    resize: none;
}

.secondry-title{
    margin: 10px 0;
}

.btn {
    font-size: 1rem;
    padding: 8px;
    margin-top: 20px;
    width: 200px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    background: #ecf0f1;
}

.danger-btn:hover{
    background: #e74c3c;
}

#ingrediant-input{
    font-size: 1rem;
    margin: 20px auto;
    border-radius:5px;
    height: 35px;
    width: 400px;
    border: none;
    background: #ecf0f1;
    padding: 5px;
}
